<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
      <select #select1 (change)="action.playDevice(select1.value)" class="form-select form-select-md">
        <option [value]="null" selected>Select device</option>
        <option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId"
          [selected]="i == action.deviceIndexActive">{{c.label}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
      <select #select2 (change)="action.decode = select2.value" class="form-select form-select-md">
        <option value="utf-8" [selected]="action.decode == 'utf-8'">UTF-8</option>
        <option value="iso-8859-15" [selected]="action.decode == 'iso-8859-15'">ISO-8859-15</option>
        <option value="windows-1252" [selected]="action.decode == 'windows-1252'">Windows-1252</option>
        <option value="macintosh" [selected]="action.decode == 'macintosh'">Macintosh</option>
      </select>
    </div>
  </div>

  <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
  <br>

  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
    [disabled]="action.isLoading">
    <img *ngIf="!action.isStart" (click)="handle(action, 'start')" src="assets/images/camera-on.svg" width="30px" />
    <img *ngIf="action.isStart" (click)="handle(action, 'stop')" src="assets/images/camera-off.svg" width="30px" />
  </button>

  <button class="btn" id="btnplaypause" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
    [disabled]="!action.isStart" (click)="handle(action, action.isPause ? 'play' : 'pause')">
    <img [src]="action.isPause ? 'assets/images/play.svg ': 'assets/images/pause.svg'" width="30px" />
  </button>

  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
    [disabled]="!action.isStart" (click)="action.isTorch = !action.isTorch; handle(action, 'torcher')">
    <img [src]="action.isTorch ? 'assets/images/flash-off.svg' : 'assets/images/flash-on.svg'" width="30px" />
  </button>

  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
    [disabled]="!action.isStart" (click)="onDowload(action)">
    <img src="assets/images/capture.svg" width="30px" />
  </button>
  <br>


  <div *ngIf="code" class="readbarcode " [ngClass]="{'openModal':  reading==true}">
    Scanned Result: {{ code }}
  </div>
</div>








<!-- <header>
  <select (change)="onDeviceSelectChange($event)">
    <option value="" [selected]="!currentDevice">No Device Selected</option>
    <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{ device.label }}</option>
  </select>
</header>

<div *ngIf="!hasPermission">Permission to access the camera is required. Please allow camera access in your browser settings.</div>

<zxing-scanner  #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="formats"></zxing-scanner>

<div *ngIf="qrResultString" class="readbarcode " [ngClass]="{'openModal':  reading==true}">
  Scanned Result: {{ qrResultString }}
</div>
-->
<!-- <div>
  <table style="border: 1px solid black; max-width: 600px;width: 100%; ">
    <thead class="list-headtable">
      <tr class="tr-list" style="border: 1px solid black;">
        <th class="th-list " style="width: 40px;">#</th>
        <th class="th-list ">BarCode</th>
        <th class="th-list ">Quantity</th>
      </tr>
    </thead>
    <tbody class="list-bodytable">
      <tr class="tr-list"style="border: 1px solid black;"
        *ngFor="let item of listOfBarcode ; let i = index ">
        <td class="td-list-text"> {{ i + 1 }}</td>
        <td class="td-list-text"> {{ item.barcode }}</td>
        <td class="td-list-text"> {{ item.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<table class="table tablebarcode">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"style="width: 65%;">BarCode</th>
      <th scope="col"style="width: 30%;">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOfBarcode ; let i = index ">
      <th scope="row"> {{ i + 1 }}</th>
      <td style="width: 65%;display: flex;flex-wrap: wrap;overflow: hidden;height: auto;"> {{ item.barcode }}</td>
      <td style="width: 30%;"><input type="number"style="width: 100%;" [(ngModel)]="item.quantity"></td>
    </tr>
  </tbody>
</table>
<button (click)="onDownload()"
  style="background: darkslateblue;color: white;border: 0;border-radius: 7px;height: 40px;margin: 10px;"
  *ngIf="listOfBarcode.length > 0">Download File</button>
